/.idea/

/.venv/
__pycache__/

config/secrets.yaml
config/telegram_channels.yaml

data/processed/*
data/raw/*
data/sessions/*

logs/*

src/sentiment/.rubert-tiny2-russian-financial-sentiment/*

!**/.gitkeep