/.idea/

/.venv/
__pycache__/

data/processed/*
data/raw/*
data/sessions/*
data/reference/*
data/news.sqlite
data/news_fav.sqlite

logs/*

output/tables/*

secrets/secrets.yaml

src/sentiment/.rubert-tiny2-russian-financial-sentiment/*

!**/.gitkeep

!data/raw/companies_raw.json
!data/reference/companies.json